<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
      <tr id="book_<%= tag.book.id %>">
        <td><%= link_to(tag.book.user) do %>
          <%= image_tag tag.book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to tag.book.title,book, class: "book_#{tag.book.id}" %></td>
        <td><%= tag.book.body %></td>
        <td>
          <% tag.book.tags.each do |booktag| %>
            <%= link_to tag_tag_search_path(tag_id: tag.id) do %>
              <span> #</span>
              <%= booktag.tag_name %>
            <% end %>
          <% end %>
        </td>
        <td class="favorite_button"><%= render "favorites/btn", book: book %></td>
        <td class="comments-count">コメント数: <%= tag.book.book_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>